@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Work+Sans&display=swap');

$accent-color: #F48256;
$primary-color: #95ADBE;
$secondary-color: #574F7D;
$dark-color: #4F3A65;
$light-color: #DFF0EA;

$primary-font: 'Roboto Mono';
$seconday-font: 'Work Sans';

$breakpoint-xl: 1920px;
$breakpoint-lg: 1400px;
$breakpoint-md: 920px;
$breakpoint-sm: 768px;
$breakpoint-xs: 375px;


.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .4fr .7fr .7fr 1fr;
    background-color: $secondary-color;
    min-height: 100vh;
}
.navbar{
    grid-area: 1 / 1 / 2 / 4;
    background-color: $accent-color;
    min-height: 5rem;
}
.hero{
    background-color: $primary-color;
    display: grid;
    grid-area: 2 / 1 / 4 / 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .7fr .7fr;

}
.block-accent{
    @media(min-width: $breakpoint-xl){
        grid-area: 3 / 1 / 4 / 2;
    }
    display: none;
    background-color: $accent-color;
}
.block-secondary{
    @media(min-width: $breakpoint-xl){
        grid-area: 2 / 1 / 3 / 2;
    }
    display: none;
    background-color: $secondary-color;
}
.block-dark{
    @media(min-width: $breakpoint-xl){
        grid-area: 3 / 2 / 4 / 3;
    }
    display: none;
    background-color: $dark-color;
}
.block-primary-1{
    @media(min-width: $breakpoint-xl){
        grid-area: 1 / 1 / 2 / 2;
    }
    display: none;
    background-color: $primary-color;
}
.block-primary-2{
    display: none;
    @media(min-width: $breakpoint-xl){
        grid-area: 2 / 2 / 3 / 3;
    }
    background-color: $primary-color;
}
.block-primary-3{
    @media(min-width: $breakpoint-xl){
        grid-area: 3 / 3 / 4 / 4;
    }
    display: none;
    background-color: $primary-color;
}
.title{
    grid-area: 1 / 1 / 2 / 3;
    align-self: center;
    justify-self: right;
    margin: 1.5rem;
    font-family: $primary-font;
    font-size: 40px;
    color: white;
}
.subtitle{
    font-family: $seconday-font;
    grid-area: 1 / 1 / 2 / 3;
    color: $light-color;
    align-self: center;
    justify-self: right;
    margin-top: 5.5rem;
    margin-right: 1.5rem;
    font-size: 18px;
    @media (min-width: $breakpoint-md){
        font-size: 25px;
    }

}
.hero-description{
    grid-area: 2 / 1 / 3 / 3;
    justify-self: right;
    font-family: $primary-font;
    font-size: 16px;
    color: $light-color;
    margin-top: -1.7rem;
    margin-right: 1.5rem;
    margin-left: 6.5rem;
}
.work-anchor{
    height: 2rem;
    width: 11rem;
    font-family: $primary-font;
    grid-area: 2 / 1 / 3 / 3;
    align-self: end;
    justify-self: right;
    margin-bottom: 3.9rem;
    margin-right: 1.5rem;
    background-color: $light-color;
    border: none;
    border-radius: 25px;
}
.skills-container{
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
    min-height: 60vh;
}
.skills-header{
    color: white;
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 30px;
    font-family: $primary-font;
}
.skills-card{
    align-self: center;
    width: 80vw;
    height: 45vh;
    border: 2px solid white;
    border-radius: 25px;
}