@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Work+Sans&display=swap");
.hero-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: .25fr .7fr .7fr 1fr;
      grid-template-rows: .25fr .7fr .7fr 1fr;
  background-color: #574F7D;
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  background-color: #F48256;
  min-height: 5rem;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

a {
  text-decoration: none;
  color: #DFF0EA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

li {
  font-family: "Avenir Next";
  color: #DFF0EA;
  padding: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: #4F3A65;
}

.hero {
  background-color: #95ADBE;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 4 / 4;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: .7fr .7fr;
      grid-template-rows: .7fr .7fr;
  -webkit-box-shadow: 0px 8px 10px -8px black;
          box-shadow: 0px 8px 10px -8px black;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 1.5rem;
  font-family: "Avenir Next";
  font-size: 40px;
  color: white;
}

.subtitle {
  font-family: "Work Sans";
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 5.5rem;
  font-size: 18px;
}

@media (min-width: 920px) {
  .subtitle {
    font-size: 25px;
  }
}

.hero-description {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  font-family: "Avenir Next";
  font-size: 16px;
  color: white;
  margin-top: -1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.work-anchor {
  height: 4rem;
  width: 13rem;
  font-family: "Avenir Next";
  font-size: 1rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 3.9rem;
  background-color: #DFF0EA;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work-anchor:hover {
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  background-color: #4F3A65;
  color: #DFF0EA;
}

.cards-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
  background-color: #DFF0EA;
}

.technology-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  margin: auto;
}

.technology-header {
  color: #574F7D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 30px;
  font-family: "Avenir Next";
}

.technology-card {
  -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 400px;
  border: 6px;
  border-color: #DFF0EA;
  border-style: solid;
  border-radius: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 1px 1px 4px 0px gray;
          box-shadow: 1px 1px 4px 0px gray;
  background-color: #F48256;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr, 1fr;
      grid-template-columns: 1fr, 1fr;
  -ms-grid-rows: 1fr, 1fr, 1fr;
      grid-template-rows: 1fr, 1fr, 1fr;
}

#html-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: -1rem;
}

#javascript-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 2 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-left: -1rem;
}

#nodejs-icon {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 2 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: -1rem;
}

#react-icon {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2 / 2 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-left: -1rem;
}

#vue-icon {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: -1rem;
}

#css-icon {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-left: -1rem;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  margin: auto;
}

.skills-header {
  color: #574F7D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 30px;
  font-family: "Avenir Next";
}

.skills-card {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 400px;
  border: 6px;
  border-color: #DFF0EA;
  border-style: solid;
  border-radius: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 1px 1px 4px 0px gray;
          box-shadow: 1px 1px 4px 0px gray;
  background-color: #95ADBE;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  margin: auto;
}

.social-header {
  color: #574F7D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 30px;
  font-family: "Avenir Next";
}

.social-card {
  background-color: #4F3A65;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 400px;
  border: 6px;
  border-color: #DFF0EA;
  border-style: solid;
  border-radius: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 1px 1px 4px 0px gray;
          box-shadow: 1px 1px 4px 0px gray;
}

.contact-container {
  background-color: #4F3A65;
  height: 90vh;
}

.contact-header {
  font-size: 3em;
  font-family: "Avenir Next";
  color: #DFF0EA;
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 4rem;
}

.contact-form {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 400px;
  border: 6px;
  border-color: #DFF0EA;
  border-style: solid;
  border-radius: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 1px 1px 4px 0px gray;
          box-shadow: 1px 1px 4px 0px gray;
  background-color: #DFF0EA;
  margin: auto;
}

form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#name, #email {
  border-radius: 5px;
  margin: .5rem;
  height: 1.5rem;
  padding: .25rem;
  border: none;
}

#name:focus {
  -webkit-box-shadow: 0px 0px 1px 1px #574F7D;
          box-shadow: 0px 0px 1px 1px #574F7D;
}

#email:focus {
  -webkit-box-shadow: 0px 0px 1px 1px #574F7D;
          box-shadow: 0px 0px 1px 1px #574F7D;
}

#messageBody {
  border-radius: 5px;
  margin: .5rem;
  border: none;
  padding: .25rem;
}

#messageBody:focus {
  -webkit-box-shadow: 0px 0px 1px 1px #574F7D;
          box-shadow: 0px 0px 1px 1px #574F7D;
}

#submit {
  width: 4rem;
  margin: .5rem;
  height: 2rem;
  font-family: "Avenir Next";
  text-align: center;
  background-color: #95ADBE;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#submit:hover {
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  background-color: #4F3A65;
  color: #DFF0EA;
}

footer {
  height: 10vh;
  background-color: #F48256;
}
/*# sourceMappingURL=input.css.map */