@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Work+Sans&display=swap');

$accent-color: #F48256;
$primary-color: #95ADBE;
$secondary-color: #574F7D;
$dark-color: #4F3A65;
$light-color: #DFF0EA;

$primary-font: 'Avenir Next';
$seconday-font: 'Work Sans';

$breakpoint-xl: 1920px;
$breakpoint-lg: 1400px;
$breakpoint-md: 920px;
$breakpoint-sm: 768px;
$breakpoint-xs: 375px;

$padding-xl: 15rem;

@mixin card(){
    align-self: center;
    width: 300px;
    height: 400px;
    border: 6px;
    border-color: $light-color;
    border-style: solid;
    border-radius: 25px;
    flex-grow: 1;
    box-shadow: 1px 1px 4px 0px gray;
}

@mixin cardHeader(){
    color: $secondary-color;
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 30px;
    font-family: $primary-font;
}

@mixin cardContainer(){
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin: auto;
}
.navbar{
    background-color: $accent-color;
    height: 6rem;
}
.nav-items{
    display: flex;
    justify-content: right;
}
.nav-items{
    a{
        text-decoration: none;
        color: $light-color;
        transition: 0.5s;
    }
    li{
        font-family: $primary-font;
        color: $light-color;
        padding: 1rem;
        font-size: 2rem;
        margin-top: 1rem;
        transition: 0.5s;
    }
    a:hover{
        color: $dark-color
    }
}
.hero{
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    height: 60vh;
    width: 100vw;

}
.title{
    align-self: center;
    justify-self: center;
    margin-top: 8rem;
    font-family: $primary-font;
    font-size: 40px;
    color: white;
}
.subtitle{
    font-family: $seconday-font;
    color: white;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
    font-size: 18px;
    @media (min-width: $breakpoint-md){
        font-size: 25px;
    }

}
.hero-description{
    justify-self: center;
    text-align: center;
    font-family: $primary-font;
    font-size: 16px;
    color: white;
    margin: 1rem;
}
.work-anchor{
    height: 4rem;
    width: 13rem;
    font-family: $primary-font;
    font-size: 1rem;
    grid-area: 2 / 1 / 3 / 3;
    align-self: center;
    justify-self: center;
    margin: 1rem;
    background-color: $light-color;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.work-anchor:hover{
    box-shadow: 1px 1px 3px black;
    background-color: $dark-color;
    color: $light-color;
}
.spacer-block{
    height: 34vh;
    background-color: $secondary-color;
    box-shadow: inset 0 0 10px #000000;
}
.cards-container{
    width: 100vw;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 2rem;
    background-color: $light-color;

}
.technology-container{
    @include cardContainer();
}
.technology-header{
    @include cardHeader();
}

.technology-card{
    @include card();
    background-color: $accent-color;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    
}
#html-icon{
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: center;
    filter: invert(1);
    margin-right: -1rem;
}
#javascript-icon{
    grid-area: 1 / 2 / 2 / 2;
    justify-self: center;
    align-self: center;
    filter: invert(1);
    margin-left: -1rem;
}
#nodejs-icon{
    grid-area: 2 / 1 / 2 / 2;
    justify-self: center;
    align-self: center;
    filter: invert(1);
    margin-right: -1rem;
}
#react-icon{
    grid-area: 2 / 2 / 2 / 2;
    justify-self: center;
    align-self: center;
    filter: invert(1);
    margin-left: -1rem;
}
#vue-icon{
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
    align-self: center;
    filter: invert(1);
    margin-right: -1rem;
}
#css-icon{
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    align-self: center;
    filter: invert(1);
    margin-left: -1rem;
}
.skills-container{
    @include cardContainer();
}
.skills-header{
    @include cardHeader();
}
.skills-card{
    @include card();
    background-color: $primary-color;

}
.social-container{
    @include  cardContainer();
}
.social-header{
    @include cardHeader();
}
.social-card{
    background-color: $dark-color;
    @include card();
}
.contact-container{
    background-color: $dark-color;
    height: 90vh;
}
.contact-header{
    font-size: 3em;
    font-family: $primary-font;
    color: $light-color;
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 4rem;
}
.contact-form{
    @include card();
    background-color: $light-color;
    margin: auto;
}
form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
#name, #email {
    border-radius: 5px;
    margin: .5rem;
    height: 1.5rem;
    padding: .25rem;
    border: none;

}
#name:focus{
    box-shadow: 0px 0px 1px 1px $secondary-color;
}
#email:focus{
    box-shadow: 0px 0px 1px 1px $secondary-color;
}
#messageBody{
    border-radius: 5px;
    margin: .5rem;
    border: none;
    padding: .25rem;
}
#messageBody:focus{
    box-shadow: 0px 0px 1px 1px $secondary-color;
}
#submit{
    width: 4rem;
    margin: .5rem;
    height: 2rem;
    font-family: $primary-font;
    text-align: center;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}
#submit:hover{
    box-shadow: 1px 1px 3px black;
    background-color: $dark-color;
    color: $light-color;
}
footer{
    height: 10vh;
    background-color: $accent-color;
}


